
.examresults .examresult {
    margin: 0 10px;
}

#report-examtraining-assiduity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon.xlarge {
    width: 64px;
    height: 64px;
}

.examtraining-assiduity .shadow {
    opacity: 0.5;
    -moz_opacity: 0.5;
}

#examtraining-selector {
    display: flex;
    flew-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 1px solid #999;
    margin-bottom: 20px;
}

#examtraining-selector .formitem div {
    display: inline-block;
    margin-right; 20px;
}

#examtraining-assiduity {
    justify-content: center;
}

.examtraining-report-item {
    justify-content:center;
}

.report-examtraining-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.report-examtraining-panel100 {
    flex-basis: 100%;
}

.report-examtraining-panel50 {
    flex-basis: 49%;
}

.report-examtraining-panel33 {
    flex-basis: 32%;
}

.examtraining-values {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.examtraining-value {
    padding:10px;
    margin:20px;
    font-family: "roboto", sans-serif;
    font-weight: light;
    color: white;
    font-size: 18pt;
    line-height: 28pt;
}

.examtraining-value.qcat,
.examtraining-value.acat,
.examtraining-value.ccat,
.examtraining-value.qname,
.examtraining-value.aname,
.examtraining-value.cname {
    color: initial;
}

.examtraining-value.acat,
.examtraining-value.ccat,
.examtraining-value.aname,
.examtraining-value.cname {
    font-size: 20pt;
}

.examtraining-value .value-name {
    font-size: 80%;
}

.examtraining-value.q {
    background-color: #66669F;
}

.examtraining-value.a {
    background-color: #5BAA83;
    font-size: 20pt;
}

.examtraining-value.c {
    background-color: #AD586B;
    font-size: 20pt;
}

[data-item="matched"] {
    opacity: 0.7;
}

[data-item="ratio"] {
    opacity: 0.4;
}