


<!-- report_examtraining/assiduitygraph -->
<div class="">

    <div class="header">
        <h2>{{#str}}assiduity, report_examtraining{{/str}}</h2>
    </div>

    {{#hasattempts}}
    <div id="report-examtraining-assiduity">

        <div class="report-examtraining-assiduity-previous">
            {{#paged}}
            {{#previousurl}}
            <a href="{{{previousurl}}}">{{{previousicon}}}</a>
            {{/previousurl}}
            {{^previousurl}}
            {{{previousiconshadow}}}
            {{/previousurl}}
            {{/paged}}
        </div>

        <div class="examtraining-assiduity-plot">
            {{{plot}}}
        </div>

        <div class="examtraining-assiduity-next">
            {{#paged}}
            {{#nexturl}}
            <a href="{{{nexturl}}}">{{{nexticon}}}</a>
            {{/nexturl}}
            {{^nexturl}}
            {{{nexticonshadow}}}
            {{/nexturl}}
            {{/paged}}
        </div>

    </div>
    {{/hasattempts}}

    {{^hasattempts}}
    {{{noattemptsnotification}}}
    {{/hasattempts}}
</div>
<!-- /report_examtraining/assiduitygraph -->
