


<!-- report_examtraining/assiduitygraph -->
<div class="">

    <div class="header">
        <h2>{{#str}}assiduity, report_examtraining{{/str}}</h2>
    </div>

    {{#hasattempts}}
    <div id="report-examtraining-assiduity">

        {{#paged}}
        <div class="report-examtraining-assiduity-previous">
            {{#previousurl}}
            <a href="{{{previousurl}}}"><img src="{{{previousiconurl}}}"></a>
            {{/previousurl}}
            {{^previousurl}}
            <img src="{{{previousiconurl}}}" class="shadow">
            {{/previousurl}}
        </div>
        {{/paged}}

        <div class="examtraining-assiduity-plot">
            {{{plot}}}
        </div>

        {{#paged}}
        <div class="examtraining-assiduity-next">
            {{#nexturl}}
            <a href="{{{#nexturl}}}"><img src="{{{nexticonurl}}}"></a>
            {{/nexturl}}
            {{^nexturl}}
            <img src="{{{nexticonurl}}}" class="shadow">
            {{/nexturl}}
        </div>
        {{/paged}}

    </div>
    {{/hasattempts}}

    {{^hasattempts}}
    {{{noattemptsnotification}}}
    {{/hasattempts}}
</div>
<!-- /report_examtraining/assiduitygraph -->
