<!-- report_examtraining/categories -->

<div class="examtraining-categories-globals">

    {{#group}}
    <table class="generaltable">
        <tr>
            <td class="field">
                {{#str}}group{{/str}}
            </td>
            <td class="value">
                {{{group.name}}}
            </td>
        </tr>
        <tr>
            <td class="field">
                {{#str}}size{{/str}}
            </td>
            <td class="value">
                {{{groupsize}}}
            </td>
        </tr>
    </table>
    {{/group}}


    {{#cats}}
    <h3>{{name}}</h3>

    <div class="container">
        <div class="row">
            <div class="examtraining-value qname col" data-item="qname">
            </div>
            <div class="examtraining-value qcat col" data-item="catcount">
                <span class="value-name">{{#str}}catcount, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{qcount}}</span>
            </div>
            <div class="examtraining-value q col" data-item="count">
                <span class="value-name">{{#str}}count, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.qcount}}</span>
            </div>
            <div class="examtraining-value q col" data-item="matched">
                <span class="value-name">{{#str}}matched, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.qmatched}}</span>
            </div>
            <div class="examtraining-value q col" data-item="ratio">
                <span class="value-name">{{#str}}hitratio, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.qratio}}%</span>
            </div>
        </div>

        {{#dualserie}}
        <div class="examtraining-values row">
            <div class="examtraining-value aname col" data-item="aname">
                <span class="value-name">{{serieAname}}</span>
            </div>
            <div class="examtraining-value acat col" data-item="catcount">
                <span class="value-name">{{#str}}catcount, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{acount}}</span>
            </div>
            <div class="examtraining-value a col" data-item="count">
                <span class="value-name">{{#str}}count, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.acount}}</span>
            </div>
            <div class="examtraining-value a col" data-item="matched">
                <span class="value-name">{{#str}}matched, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.amatched}}</span>
            </div>
            <div class="examtraining-value a col" data-item="ratio">
                <span class="value-name">{{#str}}hitratio, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.aratio}}%</span>
            </div>
        </div>
        <div class="examtraining-values row">
            <div class="examtraining-value cname col" data-item="cname"></span>
                <span class="value-name">{{serieCname}}</span>
            </div>
            <div class="examtraining-value ccat col" data-item="catcount">
                <span class="value-name">{{#str}}catcount, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{ccount}}</span>
            </div>
            <div class="examtraining-value c col" data-item="count">
                <span class="value-name">{{#str}}count, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.ccount}}</span>
            </div>
            <div class="examtraining-value c col" data-item="matched">
                <span class="value-name">{{#str}}matched, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.cmatched}}</span>
            </div>
            <div class="examtraining-value c col" data-item="ratio">
                <span class="value-name">{{#str}}hitratio, report_examtraining{{/str}}</span><br/>
                <span class="value-value">{{stats.cratio}}%</span>
            </div>
        </div>
        {{/dualserie}}
    </div>
    {{/cats}}
</div>

<!-- /report_examtraining/categories -->