


<!-- report_examtraining/examtries -->
{{{heading}}}

<div class="w-100 d-flex report-examtraining-examsummary justify-content-between">

    <div class="w-20">
        <b>{{examtriesstr}}</b>
    </div>

    <div class="w-80">

        <div class="examresults d-flex justify-content-between">
            {{#examtries}}
            <div class="examresults">
                {{{finishdate}}}<br/>
                {{#islink}}
                <a href="{{{examurl}}}"><img src="{{{resulticonurl}}}" class="exam-icon" /><br/>
                (A : {{ahitratio}}% {{#dualserie}}, C: {{chitratio}}%{{/dualserie}})</a>
                {{/islink}}
                {{^islink}}
                <img src="{{{resulticonurl}}}" class="exam-icon" /><br/>
                (A : {{ahitratio}}% {{#dualserie}}, C: {{chitratio}}%{{/dualserie}})
                {{/islink}}
            </div>
            {{/examtries}}
        </div>
    </div>
</div>
<!-- /report_examtraining/examtries -->

