

<!-- globalheading -->
{{{userpicture}}}

<div class="report-examtraining-userinfobox">

{{#hasgroups}}
    <b>{{usergroupsstr}}</b>: {{{usergroups}}}<br/>
{{/hasgroups}}
    <b>{{rolesstr}}</b>: {{{userroles}}}<br/>

    <a href="{{{examreporturl}}}">{{seedetailsstr}}</a><br/>

    <b>{{equlearningtimestr}}</b>: {{elapsed}}

</div>
<!-- /globalheading -->
