

<!-- report_examtraining/globalheading -->
{{{userpicture}}} <b>{{lastname}} {{firstname}}</b>

<div class="report-examtraining-userinfobox" data-userid="{{userid}}">

{{#hasgroups}}
    <b>{{usergroupsstr}}</b>: {{{usergroups}}}<br/>
{{/hasgroups}}
    <b>{{rolesstr}}</b>: {{{userroles}}}<br/>

    <a href="{{{examreporturl}}}">{{seedetailsstr}}</a><br/>

    <b data-source="elapsed">{{equlearningtimestr}}</b> {{elapsed}}

</div>
<!-- /report_examtraining/globalheading -->
