
<!-- report_examtraining/precompiletools -->

<h2>{{#str}}backgroundercontrol, report_examtraining{{/str}}</h2>

<table width="90%">
<tr valign="top">
    <td width="60%">
        <p>{{#str}}backgroundercontrol_desc, report_examtraining{{/str}}</p>
    </td>
    <td width="40%">
        <form name="backgroundenable" action="#">
            <input type="hidden" name="view" value="compilationtools" />
            <input type="hidden" name="id" value="{{id}}" />
            <table width="100%">
                <tr>
                    <td colspan="2">
                        <input name="changebackground" type="hidden" value="1" />
                        <input name="backgroundenabled" type="checkbox" value="1" {{{backgroundenabledchecked}}} />
                        <input name="go_btn" type="submit" value="{{#str}}update{{/str}}"  />
                    </td>
            </table>
        </form>
    </td>
</tr>
</table>

<h2>{{#str}}attemptstocatscompilation, report_examtraining{{/str}}</h2>
<table width="98%">
<tr valign="top">
    <td width="60%">
    {{#str}}attemptstocatscompilation_desc, report_examtraining{{/str}}
    <br/><br/>
    {{#str}}compiled, report_examtraining{{/str}}: {{examcompiledrecords}}
    </td>
    <td width="40%">
        <form name="simplecompile" action="{{{precompileurl}}}">
            <input type="hidden" name="running" value="1" />
            <input type="hidden" name="id" value="{{id}}" />
            <table class="generaltable" width="100%">

                <tr valign="top">
                    <td>{{#str}}bulksize, report_examtraining{{/str}}: {{{bulksizehelpicon}}}</td>
                    <td>
                        <select name="limit">
                            <option value="0">{{#str}}nolimit, report_examtraining{{/str}}</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                        </select>
                    </td>
                </tr>

                <tr valign="top">
                    <td>{{#str}}timelimit, report_examtraining{{/str}}</td>
                    <td>
                        <select name="auto" {{^backgroundenabled}}disabled="disabled"{{/backgroundenabled}}>
                            <option value="0">{{#str}}manual, report_examtraining{{/str}}</option>
                            <option value="1">1 {{#str}}second, report_examtraining{{/str}}</option>
                            <option value="2">2 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="5">5 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="8">8 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="10">10 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="15">15 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="30">30 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="60">60 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="90">90 {{#str}}secondplural, report_examtraining{{/str}}</option>
                            <option value="120">120 {{#str}}secondplural, report_examtraining{{/str}}</option>
                        </select>
                    </td>
                </tr>

                <tr valign="top">
                    <td>{{#str}}maxbulks, report_examtraining{{/str}}</td>
                    <td>
                        <select name="maxruns" {{^backgroundenabled}}disabled="disabled"{{/backgroundenabled}}>
                            <option value="0">{{#str}}nolimit, report_examtraining{{/str}}</option>
                            <option value="1">1</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="80">80</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="2000">2000</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                        </select>
                    </td>
                </tr>

                <tr valign="top">
                    <td>{{#str}}verbose, report_examtraining{{/str}}</td>
                    <td>
                        <input type="checkbox" value="1" name="output" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input type="submit" value="{{#str}}compileattempts, report_examtraining{{/str}}" />
                    </td>
                </tr>

            </table>
        </form>
        <br/>
        <div class="examtraining-buttonset">
        <form name="simplecompileclear" action="{{{clearstateurl}}}">
            <input type="hidden" name="id" value="{{id}}" />
            <p><input type="submit" value="{{#str}}clearstatsdata, report_examtraining{{/str}}" /> {{{clearstatsdatahelpicon}}}</p>
        </form>
        </div>
    </td>
</tr>
</table>

