


<form action="{{{formurl}}}" method="get" name="paramform">
    <input type="hidden" name="id" value="{{id}}" />
    <input type="hidden" name="view" value="{{view}}" />

    <table>
        <tr valign="top">
            <td width="50%">
                {{{toporderstr}}}: {{{select}}}
            </td>
        </tr>
    </table>
</form>
