


<!-- reportgraphicitem -->
<div class="container-fluid">
    <div class="header">
        <h2>{{title}}</h2>
    </div>

    <div class="examtraining-report-item coverage row-fluid">
        <img src="{{{generatorurl}}}" width="{{width}}" height="{{height}}" /><br/>
        {{legendstr}}
    </div>
</div>
<!-- /reportgraphicitem -->
