


<form action="{{{formurl}}}" method="get" name="paramform">
<input type="hidden" name="id" value="{{id}}" />
<input type="hidden" name="from" value="{{from}}" />
<input type="hidden" name="to" value="{{to}}" />
<input type="hidden" name="groupid" value="{{groupid}}" />
<input type="hidden" name="view" value="course_{{subview}}" />

<table width="100%">
    <tr valign="top">
        <td width="50%">
            {{#str}}toporder, report_examtraining{{/str}} : {{{orderselect}}}
        </td>
        <td width="50%">
            {{#str}}toplength, report_examtraining{{/str}} : {{{lengthselect}}}
        </td>
    </tr>
</table>
</form>
