
<!-- topreport -->
{{#hasusers}}
<div class="report-examtraining-block">
    <div class="report-examtraining-panel100">

        <h2>{{topexamshdr}}</h2>

        <div class="content">
            {{#hasexams}}
                {{{topexamstable}}}
            {{/hasexams}}

            {{^hasexams}}
                {{{notrainingactivity}}}
            {{/hasexams}}
        </div>
    </div>

    <div class="report-examtraining-block">
        <div class="report-examtraining-panel50">

            <h2>{{topquestionshdr}}</h2>

            {{#hasquestions}}
                {{{topquestionstable}}}
            {{/hasquestions}}

            {{^hasquestions}}
                {{{notrainingactivity}}}
            {{/hasquestions}}

        </div>
        <div class="report-examtraining-panel50">

            <h2>{{topcoveragehdr}}</h2>

            {{#hascoverage}}
                {{{topcoveragetable}}}
            {{/hascoverage}}

            {{^hascoverage}}
                {{{notrainingactivity}}}
            {{/hascoverage}}

        </div>
    </div>
</div>
</center>
{{/hasusers}}

{{^hasusers}}
{{nousersstr}}
{{/hasusers}}
<!-- /topreport -->