

<!-- userheading -->
<table width="100%" class="generaltable">
    <tr>
        <td align="left" width="20%">
            {{fullname)}
        </td>
        <td align="center" width="20%">
            {{usergroups}}
        </td>
        <td align="center" width="20%">
            <a href="mailto:{{{email}}}">{{{email}}}</a>
        </td>
        <td align="center" width="20%">
            {{city}}
        </td>
        <td align="right" width="20%">
{{#isshort}}
            <a href="{{{detailsurl}}}">{{seedetailsstr}}</a>
{{/isshort}}
        </td>
    </tr>
</table>
<!-- /userheading -->
